header {
    background-color:rgb(255, 255, 255);
    border: 5px inset #0E53A7 ;
}

.history {
    font-family:sans-serif;
    color: red;
}

body {
    font-family:sans-serif;
    text-align:center;
    background-color:PowderBlue;
}

header a {
    text-align: 50px;
    text-decoration: none;
}

footer {
    ackground-color:rgb(255, 255, 255);
}

footer a{
    font-size: 20px;
    color:black;
    text-decoration: none;
}
